<!-- Generated template for the SlidersComponent component -->
<div>
  <!-- <ion-slides pager="true" slidesPerView="1.5"  paginationType="fraction" effect="cube" speed="1000" > -->
  <ion-slides autoplay="5000" loop="true" speed="3000" slidesPerView="1.5" spaceBetween="10" style="height: 25%;">
    <!-- paginationType: fraction, progress, etc. -->
    <!-- effect: fade, cube, coverflow, flip, etc. -->
    <ion-slide style="margin-right: 12px;">
      <img src="https://static.freshtohome.com/media/banner/Free_Delivery_coupon_FTH_mbl.jpg" />
    </ion-slide>
    <ion-slide style="margin-right: 12px;">
      <img src="https://static.freshtohome.com/media/banner/supreme-goat-10-percent-off-mbl.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="https://static.freshtohome.com/media/banner/75_75_Offer_FIRST75_mbl.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="https://static.freshtohome.com/media/wysiwyg/MOB_WEB-Slider_App_NEW.jpg" />
    </ion-slide>
  </ion-slides>
</div>